<h2> Installling nltk </h2>

In [2]:
!pip3 install nltk

Requirement already satisfied: nltk in /Users/dheerajkumarramchandani/ml/my_env/lib/python3.7/site-packages (3.4.5)
Requirement already satisfied: six in /Users/dheerajkumarramchandani/ml/my_env/lib/python3.7/site-packages (from nltk) (1.14.0)

<p> nltk requires you to download third party modules also  run this which will open a window and select the 
modules you want to download to your local computer</p>

In [3]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

<p> <font size="4">  Importing the data form the UCI Machine Learning Repository </font></p>

<p>. its a conversation between a  spam and ham( legitimate) database python willl read the data as a long string </p>

In [5]:
Data = open("./SMSSpamCollection.tsv").read()

<p> <font size="3" > printing the first 500 characters </font> </p>

In [7]:
Data[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

<p> <font size="3" > Splitting the data for more structured input and analysis so we replace \t with \n and then split the data on \n </font> </p>

In [8]:
parsed  = Data.replace( '\t', '\n')

In [9]:
# now all \t are replaced by \n 

parsed[0:500]

"ham\nI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\nFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\nNah I don't think he goes to usf, he lives around here though\nham\nEven my brother is not like to speak with me. They treat me like aid"

In [10]:
# Now we split the data based on \n which will give us a list 
parsedData = parsed.split('\n')

<p> <font size="3" > Now we have a more structured data with the user labeled in one line and the text in the other so we can use this to separate the labels and the text </font> </p>

In [12]:


parsedData[0:10]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham',
 "Nah I don't think he goes to usf, he lives around here though",
 'ham',
 'Even my brother is not like to speak with me. They treat me like aids patent.',
 'ham',
 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [13]:
labels = parsedData[0::2]
text = parsedData[1::2]

In [14]:
labels[0:10]

['ham', 'spam', 'ham', 'ham', 'ham', 'ham', 'spam', 'spam', 'ham', 'spam']

In [15]:
text[0:5]

["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 "Nah I don't think he goes to usf, he lives around here though",
 'Even my brother is not like to speak with me. They treat me like aids patent.',
 'I HAVE A DATE ON SUNDAY WITH WILL!!']

<p> <font size="3" > creating a pandas data frame object from the labels and the text so that we can better analyze them </font> </p>

<p> <font size="3" > creating a data frame object with 2 columns labels and texts  </font> </p>

In [18]:
import pandas as pd

In [19]:
df = pd.DataFrame( { 'labels' :labels[:-1],
                   'text': text})

In [21]:
# now we have a more structured data

df.head()

  labels                                               text
0    ham  I've been searching for the right words to tha...
1   spam  Free entry in 2 a wkly comp to win FA Cup fina...
2    ham  Nah I don't think he goes to usf, he lives aro...
3    ham  Even my brother is not like to speak with me. ...
4    ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [22]:
# printing the shape of the data telling us how many instances we have 
df.shape

(5570, 2)

In [23]:
df.tail()

     labels                                               text
5565   spam  This is the 2nd time we have tried 2 contact u...
5566    ham               Will ü b going to esplanade fr home?
5567    ham  Pity, * was in mood for that. So...any other s...
5568    ham  The guy did some bitching but I acted like i'd...
5569    ham                         Rofl. Its true to its name

In [25]:
# checking whether the data is balanced or not 

# we can see that the data is pretty unbalanced 

df.groupby( by = "labels").count()

        text
labels
ham     4824
spam     746

<p> <font size="4" > Checking how much missing data is there </font> </p>

In [26]:
df[ 'labels'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
5565    False
5566    False
5567    False
5568    False
5569    False
Name: labels, Length: 5570, dtype: bool

In [28]:
#print the length of it 
df['labels'].isnull().sum()

0

<p> <font size="3" > NO missing values for labels </font> </p>

In [31]:
# no missing values for text also 

df['text'].isnull().sum()

0

<h3> Tokenizing the string</h3>